/config/*
!.gitkeep
!/config/sampleconfig.json
/config/config.json

/data/*

# Keep the folders themselves
!/data/cache/
/data/cache/.gitkeep
!/data/input/
/data/input/.gitkeep
#/data/input/.gitkeep
!/data/logs/
/data/logs/.gitkeep
!/data/output/
/data/output/.gitkeep


# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/settings.json
ClearState.ps1
