# Ignore everything in the config folder, but keep the folder itself
/config/*
!.gitkeep
!/config/sampleconfig.json
/config/config.json

# Ignore contents of each subfolder in data, but keep the folders themselves
/data/cache/*
# /data/input/* ← removed to allow input data
/data/logs/*
/data/output/*

# Keep the folders themselves
!/data/cache/
/data/cache/.gitkeep
#!/data/input/
#/data/input/.gitkeep
!/data/logs/
/data/logs/.gitkeep
!/data/output/
/data/output/.gitkeep

# Ignore sample_data folder contents, except for the data subfolder
# This is to allow sample input data to be version controlled without
# tracking other generated sample files.
/sample_data/
!/sample_data/data/

# Keep everything in docs
# (no rule needed if nothing is being ignored)

# Keep everything in src
# (no rule needed if nothing is being ignored)

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/settings.json
ClearState.ps1
