# --- Config ---
/config/*
!/config/sampleconfig.yaml
!/config/llm_configs.yaml
/config/config.yaml
!.gitkeep

# --- Data ---
/data/
!/data/.gitkeep

# --- Python bytecode ---
__pycache__/
*.py[cod]

# --- VS Code ---
.vscode/settings.json
.aiexclude
# --- Docs ---
/docs/
/dev docs/
# --- tmp ---
/tmp/
/Screenconnect temp documentation/
# Utility script not tracked
ClearState.ps1
